html, body {
    background-color: #141414;
    height: 100%;
    width: auto;
  }

a{
  text-decoration: none;
  color: aliceblue;
}

a:hover{
  text-decoration: none;
  color: aliceblue;
  background-color: #394053;
}

#navigation{
  color: aliceblue;
  flex-direction: row; 
  justify-content: space-evenly;
  align-items: center;
}

#drpBtn{
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit;
  color: inherit;
}

.dropdown:hover #dropdownContent{
  color:#ff7f50;
  display: block;
}

#dropdownContent{
  display: none;
  position: absolute;
  /* background-color: #f9f9f9; */
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

#dropdownContent a {
  float: none;
  color: black;
  /* padding: 12px 16px; */
  text-decoration: none;
  display: block;
  text-align: left;
}

#dropdownContent a:hover {
  background-color:#ddd;
}

#main{
  margin-top: 200px;
  justify-content: center;
}

#message{
  justify-content: right;
  text-align: right;
  color: #cccccc;

}